cloud-storage

# configure output
config.env
config.log
config.macros.m4
Makefile

# transient files
tmp/
build/
dist/
var/
*.log
package-lock.json
node_modules
*.db
*.bak
*.pid
test.*
scratch.*

# emacs
\#*
.dir-locals.el

